<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Participants</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="page-container">
      <h1><%= assessment.title %> – Participants</h1>
      <form
        action="/users/<%=user._id %>/assessments/<%= assessment._id %>/participants"
        method="POST"
      >
        <% for(let i = 0; i < assessment.participantCount; i++) { %>
        <div class="form-group">
          <label for="name_<%= i %>">Participant <%= i+1 %></label>
          <input
            type="text"
            class="form-control"
            id="name_<%= i %>"
            name="name_<%= i %>"
            placeholder="Enter participant name"
            required
          />
        </div>
        <% } %>
        <div class="button-row">
          <button type="submit" class="button app-button">
            Next: Perception Matrix
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
